[Unit]
Description=Reapply pipework to docker containers. 
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/reapply-pipework
